@mixin generate-margins($start: 1, $end: 6) {
  @for $i from $start through $end {
    .m-#{$i} {
      margin: #{$i}rem !important;
    }
    .mt-#{$i} {
      margin-top: #{$i}rem !important;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}rem !important;
    }
    .ml-#{$i} {
      margin-left: #{$i}rem !important;
    }
    .mr-#{$i} {
      margin-right: #{$i}rem !important;
    }
    .mx-#{$i} {
      margin: 0 #{$i}rem !important;
    }
    .my-#{$i} {
      margin: #{$i}rem 0 !important;
    }
  }
}

@include generate-margins();
