@mixin generate-padings($start: 1, $end: 6) {
  @for $i from $start through $end {
    .p-#{$i} {
      padding: #{$i}rem !important;
    }
    .pt-#{$i} {
      padding-top: #{$i}rem !important;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}rem !important;
    }
    .pl-#{$i} {
      padding-left: #{$i}rem !important;
    }
    .pr-#{$i} {
      padding-right: #{$i}rem !important;
    }
    .px-#{$i} {
      padding: 0 #{$i}rem !important;
    }
    .py-#{$i} {
      padding: #{$i}rem 0 !important;
    }
  }
}

@include generate-padings();
